{% extends 'base.html' %} {% block head %}
<title>Deck View</title>
{% endblock %} {% block body %}
<header>
  <!-- back button to log-in page -->
  <form action="/logout">
    <button type="submit" class="back_button">
      <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
    </button>
  </form>

  <!-- profile button -->
  <!-- TODO: maybe move this button to a base template or header -->
  <button class="popup_button" id="profile_button" type="button"
    style="float: right;"
    onclick="togglePopup('profile_popup')">
    <i class="fa-solid fa-user"></i> {{email}}
  </button>

  <!-- profile popup -->
  <div class="popup" id="profile_popup">
    <form action="/logout">
      <button type="submit" class="back_button">
        <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
        Log out
      </button>
    </form>
  </div>

</header>

<div class="content">
  <h1>Decks:</h1>

  <div class="section">
    <div class="create_new_header">
      <div class="create_form_outer">
        <div class="create_form_inner">
          Create deck:
          <form action="/decks" method="POST">
            <input class="add_entry" type="text" name="new_deck_name"
              id="new_deck_name" placeholder="Deck name" />
            <button class="icon_button" type="submit">
              <i class="fa-solid fa-plus"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <hr>
    <table>
      <tr>
        <th>Name</th>
        <th style="width: 40px;"> </th>
        <!-- TODO: the action buttons get weirdly wrapped if the window is too narrow -->
      </tr>
      {% for deck in decks %}
      <tr>

        <td>
          <form action="/decks/{{deck.name}}">
            <button class="deck_entry" type="submit">
              {{ deck.name }}
              <br>
              <!-- display number of cards in each deck -->
              <small>
                {{ deck.size }}
                {% if deck.size != 1 %}
                cards
                {% else %}
                card
                {% endif %}
              </small>

            </button>
          </form>
        </td>
        <td style="vertical-align: top">
          <form action="/decks/{{deck.name}}/practice">
            <button type="submit" title="Practice" class="icon_button"
              style="float: left;">
              <i class="fa-solid fa-circle-play"></i>
            </button>
          </form>

          <!-- menu selection button -->
          <button type="button" class="popup_button" id="menu_button"
            onclick="togglePopup('menu_popup_{{ deck.name }}')"
            style="float: left;">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>

          <!-- menu popup -->
          <div class="popup menu_popup" id="menu_popup_{{ deck.name }}">
            <!-- edit button, delete button -->
            <button type="submit" title="placeholder">
              <i class="fa-solid fa-pencil"></i>
              Edit
            </button>
            <button type="submit" title="placeholder">
              <i class="fa-solid fa-trash-can"></i>
              Delete
            </button>
          </div>

        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<script src="../static/js/toggle_popups.js"></script>

{% endblock %}
