{% extends 'base.html' %} {% block head %}
<title>Deck View</title>
{% endblock %} {% block body %}
<div class="content">
  <form action="/">
    <button type="submit">Return to homepage</button>
  </form>

  <h1>Decks:</h1>

  <div class="section">
    <h2>Create new deck</h2>
    Enter deck name:
    <form action="/decks" method="POST">
      <input type="text" name="new_deck_name" id="new_deck_name" />

      <input type="submit" value="create!" />
    </form>
  </div>

  <div class="section">
    <h2>Your decks</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
      {% for deck in decks %}
      <tr>
        <td>{{ deck.name }}</td>
        <td style="text-align: center">{{ deck.size }}</td>
        <td>
          <form action="/{{deck.name}}">
            <button type="submit">View deck</button>
          </form>

          <form action="/{{deck.name}}/practice">
            <button type="submit">Practice</button>
          </form>
          <br />
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
