{% extends 'base.html' %}


{% block head %}
<title>Deck View</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Decks:</h1>

    <!-- <button type="button" onclick="new_deck()">Create New Deck</button>
    <div id="add_deck">???</div> -->
    <form action="/decks" method="POST">
        <input type="text" name="new_deck_name" id="new_deck_name">
        <input type="submit" value="Create New Deck">
    </form>

      
    <table>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Practice</th>
        </tr>
        {% for deck_name in decks %}
            <tr>
                <td>{{ deck_name }}</td>
                <td>{{ decks[deck_name].size }}</td>
                <td>
                    <a href="/{{deck_name}}">View deck</a>
                    <br>
                    <a href="/{{deck_name}}/practice">Practice</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <!-- <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form> -->
</div>
{% endblock %}