{% extends 'base.html' %} {% block head %}
<title>ASL APP</title>
{% endblock %} {% block body %}
<div class="content">
  <h1>Flash ASL</h1>

  <div id="auth_block">
    <h3 style="text-align: center; margin-top: 0px; margin-bottom: 5px;">
      Log in or sign up
    </h3>
    {% with messages = get_flashed_messages(with_categories=True) %}
    <!-- when with_categories=True, the return value will be a list of tuples in the form (category, message) -->

    <!-- login block -->
    <div id="login_block">
      <!-- warning for incorrect credentials -->
      <div class="notification is-danger">
        {% if messages and messages[0][0] == "login" %}
        {{ messages[0][1] }}
        {% endif %}
      </div>

      <form method="POST" action="/login">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email"
              placeholder="Email" autofocus>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password"
              placeholder="Password">
          </div>
        </div>
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
          </label>
        </div>
        <button
          class="button is-block is-info is-large is-fullwidth">Login</button>
      </form>
    </div>

    <!-- signup block -->
    <div id="signup_block">
      <!-- warning notification if attemped signup with email already in use -->
      <div class="notification is-danger">
        {% if messages and messages[0][0] == "signup" %}
        {{ messages[0][1] }}
        {% endif %}
      </div>

      <!-- signup form -->
      <form method="POST" action="/signup">
        <div class="field">
          <div class="control">
            <input class="input is-large" type="email" name="email"
              placeholder="Email" autofocus>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input class="input is-large" type="password" name="password"
              placeholder="Password">
          </div>
        </div>

        <br>

        <button class="button is-block is-info is-large is-fullwidth">Sign
          Up</button>
      </form>
    </div>
    {% endwith %}

  </div>

  <div class="content">
    <p>
      Note: this application only works on computer browsers and was not
      designed for mobile devices.
    </p>
    <p>
      This is a proof-of-concept web application for digital flashcards tailored
      for practicing American Sign Language. Users can create new flashcard
      decks, populate the decks with flashcards, choose among multiple ASL sign
      variations for each term, and practice the flashcards using the
      spaced-repetition technique for better information retention.
    </p>

    <p>
      Existing general-purpose flashcard applications are not well-suited for
      efficiently managing large quantities of visual elements, which is
      necessary
      to ASL as a visual language. This app solves that issue by connecting
      directly to an ASL dictionary (<a
        href="https://www.signingsavvy.com/">signingsavvy.com</a>). Furthermore,
      while there are a few ASL flashcard apps already out there,
      we do not know of any that implement spaced repetition, which is common in
      many general-purpose flashcard or language apps like Anki or Duolingo.
    </p>
    <p>
      This app is developed using Flask and hosted on AWS. Find the source code
      on
      <a href="https://github.com/hlu109/asl-app">github</a>.
    </p>

    <p>
      Disclaimer: The developers of this app are both Hearing. This is simply a
      project to fill a personal niche problem - practicing ASL vocabulary at a
      customized pace - and is not intended to teach ASL, replace a language
      class
      with a qualified instructor, or substitute for immersion in the Deaf/HoH
      community.
    </p>
  </div>
</div>
{% endblock %}
