<!-- <script>
  // TODO: function not running at all
  function add_media(i, mp4) {
    console.log(mp4)
    console.log(i)
    el = document.getElementById("button_" + i);
    console.log(el)
    if (el.style.backgroundColor == "orange") {
      el.style.backgroundColor = "green";
      card.media += [mp4];
      print(card.media)
    } else {
      el.style.backgroundColor = "orange";
      card.media.remove(mp4);
      print(card.media)
    }
  }

  function test_print() {
    console.log("ajsfaskjdf")
  } -->

    <!-- <div class = "button">
    <button
      type="button"
      id="{{mp4}}"
      var mp4 = document.createElement({{mp4}})
      value="{{mp4}}"
      style="background-color: orange"
    >Add Video To Card
    </button>
  </div> -->


  // addButton.addEventListener(
    //   'click', 
    //   function() {
    //     add_media(addButton.data-mp4);
    //   }
    // );

    // addButton.data-mp4 = "{{mp4}}";
