<!-- <script>
  // TODO: function not running at all
  function add_media(i, mp4) {
    console.log(mp4)
    console.log(i)
    el = document.getElementById("button_" + i);
    console.log(el)
    if (el.style.backgroundColor == "orange") {
      el.style.backgroundColor = "green";
      card.media += [mp4];
      print(card.media)
    } else {
      el.style.backgroundColor = "orange";
      card.media.remove(mp4);
      print(card.media)
    }
  }

  function test_print() {
    console.log("ajsfaskjdf")
  } -->