{% extends 'base.html' %} {% block body %}
<header>
  <!-- back button to go to deck view -->
  <form action="/{{deck_name}}">
    <button class="icon_button" type="submit" style="float: left;">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </form>

  <!-- profile button -->
  <!-- TODO: we might want to remove this from the practice view -->
  <!-- <button id="profile_button" type="submit" style="float: right;">
    <i class="fa-solid fa-user"></i> username
  </button> -->
</header>

<div class="content">
  
  <div style="margin: auto 10%; text-align: justify;">
    Try to produce the sign(s) for this term. Verify by showing the back of this
    flashcard, then select the correctness and quality of your response to
    proceed.
  </div>

  <div id="card_practice_container">

    <div class="card_practice_outer" id="card_front" onclick="flip_card()" style="visibility: visible">
      <!-- front of card -->
      <div class="card_practice_inner">
        {% set term = card.english %}
        <h1>{{term}}</h1>
      </div>
    </div>
      
    <div class="card_practice_outer" id="card_back" onclick="flip_card()" style="visibility: hidden">
      <!-- back of card -->
      <div class="card_practice_inner">
        {% for i in range(card.media|length) %} {% set mp4 = card.media[i].link %}
        <div>
          <video width="400" muted onmouseover="this.play()" onmouseout="this.pause()">
            <source src="{{mp4}}" type="video/mp4" />
          </video>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="hint_container">
    <button type="button" class="icon_button" title="Toggle hint" style="float: left;" onclick="toggle_hint()">
      <i class="fa-regular fa-lightbulb"></i>
    </button>
    <div class="hint" id="hint" style="visibility: hidden">
      <p>(add hint)</p>
    </div>
  </div>

  <!-- quality buttons -->
  <div id="quality_buttons">
    <form action="/{{deck_name}}/practice" method="POST">
      <button type="submit" name="quality-term" value="5-{{term}}">
        5: Perfect (Easy)
      </button>
      <button type="submit" name="quality-term" value="4-{{term}}">
        4: Correct (Hesitant)
      </button>
      <button type="submit" name="quality-term" value="3-{{term}}">
        3: Correct (Extremely Difficult)
      </button>
      <button type="submit" name="quality-term" value="2-{{term}}">
        2: Incorrect (Tip of the Tongue)
      </button>
      <button type="submit" name="quality-term" value="1-{{term}}">
        1: Incorrect
      </button>
      <button type="submit" name="quality-term" value="0-{{term}}">
        0: Blackout
      </button>
    </form>
  </div>
</div>

<!-- not sure why accessing an external js file isnt working -->
<!-- <script>
  src = "../js/toggle_hint.js";
</script> -->
<script>
  function toggle_hint() {
    el = document.getElementById("hint");
    if (el.style.visibility == "hidden") {
      el.style.visibility = "visible";
    } else {
      el.style.visibility = "hidden";
    }
  }

  function flip_card() {
    card_front = document.getElementById("card_front");
    card_back = document.getElementById("card_back");
    quality_buttons = document.getElementById("quality_buttons");
    if (card_front.style.visibility == "visible") {
      card_front.style.visibility = "hidden";
      quality_buttons.style.visibility = "visible";
      card_back.style.visibility = "visible";
    } else {
      card_front.style.visibility = "visible";
      quality_buttons.style.visibility = "hidden";
      card_back.style.visibility = "hidden";
    }
  }
</script>
{% endblock %}
