{% extends 'base.html' %} {% block body %}
<div class="content">
  {% set term = card.english %}

  <h1>{{term}}</h1>
  <p>
    Try to produce the sign(s) for this sign. Verify by showing the back of this
    flashcard, then select the correctness and quality of your response to
    proceed.
  </p>

  <button type="button" onclick="toggle_hint()">Toggle hint</button>
  <div id="hint" style="visibility: hidden">(add hint)</div>

  <button type="button" onclick="toggle_backside()">
    Show back of flashcard
  </button>
  <div id="backside" style="visibility: hidden">
    {% for i in range(card.media|length) %} {% set mp4 = card.media[i].link %}
    <div>
      <video width="400" controls>
        <source src="{{mp4}}" type="video/mp4" />
      </video>
    </div>
    {% endfor %}

    <!-- quality buttons -->
    <form action="/{{deck_name}}/practice" method="POST">
      <button type="submit" name="quality-term" value="5-{{term}}">
        5: Perfect (Easy)
      </button>
      <button type="submit" name="quality-term" value="4-{{term}}">
        4: Correct (Hesitant)
      </button>
      <button type="submit" name="quality-term" value="3-{{term}}">
        3: Correct (Extremely Difficult)
      </button>
      <button type="submit" name="quality-term" value="2-{{term}}">
        2: Incorrect (Tip of the Tongue)
      </button>
      <button type="submit" name="quality-term" value="1-{{term}}">
        1: Incorrect
      </button>
      <button type="submit" name="quality-term" value="0-{{term}}">
        0: Blackout
      </button>
    </form>
  </div>
</div>

<!-- not sure why accessing an external js file isnt working -->
<!-- <script>
  src = "../js/toggle_hint.js";
</script> -->
<script>
  function toggle_hint() {
    el = document.getElementById("hint");
    if (el.style.visibility == "hidden") {
      el.style.visibility = "visible";
    } else {
      el.style.visibility = "hidden";
    }
  }

  function toggle_backside() {
    el = document.getElementById("backside");
    if (el.style.visibility == "hidden") {
      el.style.visibility = "visible";
    } else {
      el.style.visibility = "hidden";
    }
  }
</script>
{% endblock %}
