{% extends 'base.html' %} {% block head %}

<title>Select media</title>
{% endblock %} {% block body %}

<div class="content">
  {% for i in range(card.getMedia()|length) %} 
  {% set mp4 = card.getMedia()[i] %}
  <br>
  <script>
    var addButton = document.createElement("input");
    addButton.id = "{{i}}";
    addButton.type = "button";
    addButton.style.backgroundColor = "orange";
    addButton.value = "Add to Card";

    document.getElementsByClassName("content")[0].appendChild(addButton);
  </script>

  <div>
    <video width="400" controls>
      <source src="{{mp4}}" type="video/mp4" />
    </video>
  </div>
  {% endfor %}

  <button type="button" onclick="finish()">Finish Card</button>

  {% set num_media = card.getMedia()|length %}
  <script>
    let mp4_keep = new Array(parseInt("{{num_media}}"));
    mp4_keep.fill(0);
    function add_on_click() {
      for (let i = 0; i < parseInt("{{num_media}}"); i++) {
        (
          function() {
            var btn = document.getElementById(i);
            btn.addEventListener(
              'click', 
              function() {
                add_media(i);
              }
            );
          } 
          () 
        );
      }
    }
    add_on_click();
  </script>

</div>

{% set term = card.english %}

<script>
  function add_media(i) {
    el = document.getElementById(i);
    if (el.style.backgroundColor == "orange") {
      el.style.backgroundColor = "lightgreen";
      el.value = "Remove from Card";
      mp4_keep[i] = 1;
      console.log("list", mp4_keep);
    } else {
      el.style.backgroundColor = "orange";
      el.value = "Add to Card";
      mp4_keep[i] = 0;
      console.log("list", mp4_keep);
    }
  }

  function finish() {
    const form = document.createElement('form');
    form.method = 'POST';
    form.action = "/{{deck_name}}/{{term}}";

    const field = document.createElement('input');
    field.type = 'hidden';
    field.name = 'myData';
    field.value = mp4_keep.toString();

    form.appendChild(field);
    document.body.appendChild(form);
    form.submit();
  }
</script>

{% endblock %}
