{% extends 'base.html' %} {% block head %}

<title>Select media</title>
{% endblock %} {% block body %}

<!-- TODO FIX THIS FUNCTION, currently mp4 is not defined in add_media -->
<div class="content">
  {% for i in range(card.getMedia()["mp4s"]|length) %} 
  {% set mp4 = card.getMedia()["mp4s"][i] %}
  <br>
  <script>
    var addButton = document.createElement("input");
    addButton.id = "{{i}}";
    addButton.type = "button";
    addButton.style.backgroundColor = "orange";
    addButton.value = "Add to Card";

    document.getElementsByClassName("content")[0].appendChild(addButton);
  </script>

  <div>
    <video width="400" controls>
      <source src="{{mp4}}" type="video/mp4" />
    </video>
  </div>
  {% endfor %}

  {% set num_media = card.getMedia()["mp4s"]|length %}
  <script>
    let mp4_keep = new Array(parseInt("{{num_media}}"));
    // let mp4_keep = "0".repeat(parseInt("{{num_media}}"));
    mp4_keep.fill(0);
    function add_on_click() {
      for (let i = 0; i < parseInt("{{num_media}}"); i++) {
        (
          function() {
            var btn = document.getElementById(i);
            console.log("btn.id", btn.id, i);
            console.log("btn.value", btn.value);
            btn.addEventListener(
              'click', 
              function() {
                add_media(i);
              }
            );
          } 
          () 
        );
      }
    }
    add_on_click();
  </script>

</div>

<script>
  function add_media(i) {
    // console.log("mp4 for add_media", mp4);
    el = document.getElementById(i);
    console.log(el);
    if (el.style.backgroundColor == "orange") {
      el.style.backgroundColor = "lightgreen";
      el.value = "Remove from Card";
      mp4_keep[i] = 1;
      // mp4_keep[i] = "1";
      console.log("list", mp4_keep);
    } else {
      el.style.backgroundColor = "orange";
      el.value = "Add to Card";
      mp4_keep[i] = 0;
      // mp4_keep[i] = "0";
      console.log("list", mp4_keep);
    }
  }

  function finish() {

  }
</script>

{% set term = card.english %}
<div class="finish">
  <script>
    // finish_button = '<form action="/{{deck_name}}/{{term}}" method="POST">' +
    //   '<button type="submit" name="mp4s_to_keep" value=' + mp4_keep.toString() +
    //   '>Finished!</button></form>'
    var finishForm = document.createElement("form");
    finishForm.action = "/{{deck_name}}/{{term}}";
    finishForm.method = "POST";
    
    var finishButton = document.createElement("button");
    finishButton.type = "submit";
    finishButton.name = "mp4s_to_keep";
    finishButton.value = mp4_keep.toString();
    finishButton.innerText = "Finish!";

    finishForm.appendChild(finishButton)
    document.body.appendChild(finishForm);

  </script>
</div>

{% endblock %}
