{% extends 'base.html' %} {% block head %}
<title>View card</title>
{% endblock %} {% block body %}
<div class="content">
  {% set term = card.english %}
  <h1>{{term}}</h1>

  <button type="button" onclick="toggle_hint()">Toggle Hint</button>
  <div id="hint" style="visibility: hidden">this is the hint</div>
  <!-- <form action="/viewHint" method="POST">
    <input type="submit" value="View Hint" />
  </form> -->

  <!-- <button type="button" onclick="view_back()">View Back</button> -->
  <!-- TODO: HANDLE MULTIPLE/ZERO VIDEOS -->
  {% set mp4 = card.media[0] %}
  <video width="400" controls>
    <source src="{{mp4}}" type="video/mp4" />
  </video>
</div>

<!-- not sure why accessing an external js file isnt working -->
<!-- <script>
  src = "../js/toggle_hint.js";
</script> -->
<script>
  function toggle_hint() {
    el = document.getElementById("hint");
    if (el.style.visibility == "hidden") {
      el.style.visibility = "visible";
    } else {
      el.style.visibility = "hidden";
    }
  }

  // function view_back() {
  //   el = document.getElementById("hint");
  //   if (el.style.visibility == "hidden") {
  //     el.style.visibility = "visible";
  //   } else {
  //     el.style.visibility = "hidden";
  //   }
  // }
</script>
{% endblock %}
