{% extends 'base.html' %} {% block head %}
<title>View cards in deck</title>
{% endblock %} {% block body %}
<div class="content">
  <h1>Cards:</h1>
  
  <!-- <button type="button" onclick="add_cards()">Add New Cards</button>
  <div id="add_card">???</div> -->
  <form action="/{{deck_name}}/add_card" method="POST">
    <input type="text" name="new_term" id="new_term">
    <input type="submit" value="Add New Card">
  </form>

  
  <table>
    <tr>
      <th>English</th>
      <th>View Card</th>
      <!-- <th>Practice</th> -->
    </tr>
    {% for term in deck.cards.index.tolist() %}
    <tr>
      <td>{{ term }}</td>
      <td><a href="/{{deck_name}}/{{term}}">View Card</a></td>
      <!-- <td>
                    <a href="/{{deck_id}}/practice">Practice</a>
                </td> -->
    </tr>
    {% endfor %}
  </table>

  <!-- <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form> -->
</div>
{% endblock %}
