{% extends 'base.html' %} {% block head %}
<title>View cards in deck</title>
{% endblock %} {% block body %}
<div class="content">
  <form action="/decks">
    <button type="submit"><i class="fa-solid fa-house"></i> Home</button>
  </form>
  <h1>{{deck_name}}</h1>

  <div class="section" style="height: 60px; border: 0px solid black ;">

    <div style="float: left; margin-top: 11px;">
      <!-- vertical-align: bottom is not working -->
      <!-- kinda janky that we have to manually hardcode it -->
      <form action="/{{deck_name}}/practice">
        <button type="submit" id="practice_button">
          <i class="fa-solid fa-circle-play"></i> 
          Practice
        </button>
      </form>
    </div>

    <div style="float: right; text-align: left;">
      Add new term:
      <form action="/{{deck_name}}/select_term" method="POST">
        <input type="text" name="new_term" id="new_term" />
        <button class="icon_button" type="submit">
          <i class="fa-solid fa-plus"></i>
        </button>
      </form>
    </div>
  </div>

  <div class="section">
    <hr>
    <table>
      <tr>
        <th> Cards in this deck </th>
        <th style="width:5px"> </th>
        <!-- <th>Practice</th> -->
      </tr>
      {% for card in cards %}
      <tr>
        <td>
          <form action="/{{deck_name}}/{{card.english}}">
            <button class="table_entry" type="submit">
              <!-- <div style="float: left; padding: auto 10px auto 10px;">{{ card.english }}</div> -->
              {{ card.english }}
              
              <div class="video_crop_container">
                <video class="video_crop" width="200" muted onmouseover="this.play()" onmouseout="this.pause()">
                  <source src="{{card.media[0].link}}" type="video/mp4" />
                </video>  
              </div>
            </button>
          </form>
        </td>
        <td style="vertical-align: top;">
          <!-- <form action="/{{deck_name}}/{{card.english}}"> -->
            <button type="submit"><i class="fa-solid fa-ellipsis-vertical"></i></button>
          <!-- </form> -->
        </td>
        <!-- <td>
                    <a href="/{{deck_id}}/practice">Practice</a>
                </td> -->
      </tr>
      {% endfor %}
    </table>

  </div>

  <!-- <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form> -->
</div>

<script>
  // const videos = document.querySelectorAll('.video_crop');

  // videos.forEach(video => {
  //   video.addEventListener('mouseenter', () => {
  //     video.play();
  //   });
    
  //   video.addEventListener('mouseleave', () => {
  //     video.pause();
  //     // video.currentTime = 0;
  //   });
  // });

</script>
{% endblock %}

