{% extends 'base.html' %} {% block head %}
<title>View cards in deck</title>
{% endblock %} {% block body %}
<header>
  <!-- back button to go to all decks -->
  <form action="/decks">
    <button type="submit" class="back_button"><i class="fa-solid fa-house"></i>
      Home</button>
  </form>

  <!-- profile button -->
  <!-- TODO: maybe move this button to a base template or header -->
  <button class="popup_button" id="profile_button" type="button"
    style="float: right;"
    onclick="togglePopup('profile_popup')">
    <i class="fa-solid fa-user"></i> {{email}}
  </button>

  <!-- profile popup -->
  <div class="popup" id="profile_popup">
    <form action="/logout">
      <button type="submit" class="back_button">
        <i class="fa-solid fa-right-from-bracket fa-rotate-180"></i>
        Log out
      </button>
    </form>
  </div>
</header>

<div class="content">
  <h1>{{deck_name}}</h1>

  <div class="section">
    <div class="create_new_header">
      <div style="float: left; margin-top: 11px;">
        <!-- vertical-align: bottom is not working -->
        <!-- kinda janky that we have to manually hardcode it -->
        <form action="/decks/{{deck_name}}/practice">
          <button type="submit" id="practice_button">
            <i class="fa-solid fa-circle-play"></i>
            Practice
          </button>
        </form>
      </div>

      <div class="create_form_outer">
        <div class="create_form_inner">
          Add card:
          <form action="/decks/{{deck_name}}/select_term" method="POST">
            <input class="add_entry" type="text" name="new_term" id="new_term"
              placeholder="English term" />
            <button class="icon_button" type="submit">
              <i class="fa-solid fa-plus"></i>
            </button>
          </form>
          <div class="notification">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {{ messages[0] }}
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <hr>
    <table>
      <tr>
        <th> Cards in this deck </th>
        <th style="width:5px"> </th>
        <!-- <th>Practice</th> -->
      </tr>
      {% for card in cards %}
      <tr>
        <td>
          <form action="/decks/{{deck_name}}/{{card.english}}">
            <button class="card_entry" type="submit">
              <span class="card_entry_term">
                {{ card.english }}
              </span>

              <div class="video_crop_container">
                <video class="video_crop" width="200" muted
                  onmouseover="this.play()"
                  onmouseout="this.pause(); this.currentTime = 0;">
                  <source src="{{card.media[0].link}}" type="video/mp4" />
                </video>
              </div>
            </button>
          </form>
        </td>
        <td style="vertical-align: top; position: relative;">
          <!-- menu selection button -->
          <button type="button" class="popup_button" id="menu_button"
            onclick="togglePopup('menu_popup_{{ card.english }}')"
            style="float: left;">
            <!-- we need to generate a unique id for the menu button for each card -->
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>

          <!-- menu popup -->
          <div class="popup menu_popup" id="menu_popup_{{ card.english }}">
            <!-- edit button, delete button -->
            <button type="submit" title="placeholder">
              <i class="fa-solid fa-pencil"></i>
              Edit
            </button>

            <button type="submit" title="placeholder">
              <i class="fa-solid fa-trash-can"></i>
              Delete
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>

  </div>
</div>

<script src="../static/js/toggle_popups.js"></script>

{% endblock %}
