{% extends 'base.html' %}


{% block head %}
<title>View card details</title>
{% endblock %}

{% block body %}
<div class="content">
    <!-- {% set term = card.english %}
    <h1>{{term}}</h1> -->
    <!-- <h1>{{card.english}}</h1> -->

    <h3>insert hint</h3>

    <!-- {% for mp4 in car%} -->
    <!-- {% set mp4 = card.media["mp4s"][0] %}
    <video width="320" height= "240" controls>
        <source src= "{{mp4}}"
            type="video/mp4">
    </video> -->
                    

    <!-- <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form> -->
</div>
{% endblock %}