{% extends 'base.html' %} {% block head %}
<title>View card</title>
{% endblock %} {% block body %}
<header>
  <!-- button to go back to deck -->
  <form action="/decks/{{deck_name}}">
    <button type="submit" class="back_button"><i
        class="fa-solid fa-box-archive"></i> Deck</button>
  </form>

  <!-- profile button -->
  <!-- TODO: add popup; also maybe move this button to a base template or header -->
  <button id="profile_button" type="submit" style="float: right;">
    <i class="fa-solid fa-user"></i> {{email}}
  </button>
</header>

<div class="content">
  {% set term = card.english %}

  <div class="card_view_outer">
    <div class="card_view_inner">
      <h1>{{term}}</h1>

      <div class="video_content">
        {% for i in range(card.media|length) %} {% set mp4 = card.media[i].link
        %}
        <div>
          <!-- div is needed so that videos are stacked vertically -->
          <video width="400" muted onmouseover="this.play()"
            onmouseout="this.pause(); this.currentTime = 0;">
            <source src="{{mp4}}" type="video/mp4" />
          </video>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- TODO: Get hint from dictionary and ask user if they want to use that hint or create new one -->
  <!-- TODO: can you create reusable elements e.g. for the hint which will appear in view card and practice mode? -->
  <div class="hint_container">
    <button type="button" class="icon_button" title="Toggle hint"
      style="float: left;" onclick="toggle_hint()"><i
        class="fa-regular fa-lightbulb"></i></button>
    <div class="hint" id="hint" style="visibility: hidden">
      <p>(add hint)</p>
    </div>
  </div>

</div>

<script>
  function toggle_hint() {
    el = document.getElementById("hint");
    if (el.style.visibility == "hidden") {
      el.style.visibility = "visible";
    } else {
      el.style.visibility = "hidden";
    }
  }
</script>
{% endblock %}
